
body{
    background: linear-gradient(
  to left,
  rgba(21, 109, 124, 0.669) 50%,rgba(190, 64, 64, 0.833) 50%
);

    color: white;
}
button{
  color: white;
    
    background:linear-gradient(to right,rgb(0, 68, 255), rgb(7, 102, 113));
    border-radius: 15px;
    font-weight:bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 2% 2%;
    border-style: None;
    box-shadow: 5px 5px 5px 5px rgb(105, 103, 103);

}
button:hover{
    padding:3% 3%;
    font-size: larger;
    cursor: pointer;

}
.container1
{
  background:linear-gradient(to right,rgb(0, 179, 255),rgba(255, 255, 255, 0.648),aqua);
  background-clip: text;
}
.container{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    width: 50%;
    position: relative;
    left: 24.5%;
    top: 25px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);

    
    padding: 50px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgb(63, 63, 63);
    

}
input{
  padding: 2% 2%;
  box-shadow: 5px 5px 5px rgb(105, 103, 103);
}
